@import '../../assets/iconfont/iconfont.css';
.index {
  width: 100vw;
  height: calc(100% - 100vw);
  background-color: white;
  position: relative;
  .top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rpx 15rpx;
    justify-content: space-between;
    border-bottom: 1rpx dashed rgb(238,238,238);
    height: 80rpx;
    .title {
      font-size: 30rpx;
    }
    i {
      color: #999;
      font-size: 24rpx;
    }
  }
  .main {
    width: 100%;
    height: calc(100% - 80rpx);
    background: #eee;
  }
}