.canvas-container {
  width: 100vw;
  height: 100vw;
  background-color: #f7f7f7;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  canvas {
    width: 100vw;
    height: 100vw;
  }

  .add-image {
    width: 200rpx;
    height: 280rpx;
    color: #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100rpx;
    margin-top: -140rpx;
    .image {
      width: 150rpx;
      height: 150rpx;
    }

    .label {
      margin-top: 1rem;
      font-size: 1rem;
      border: none;
      color: #999;
      padding: 0;
    }
  }
}